<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Medium dashboard</title>
  <link
    rel="shortcut icon"
    href="https://miro.medium.com/1*m-R_BkNf1Qjr1YbyOIJY2w.png"
    type="image/x-icon"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
  />
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css" />
  <script
    src="https://kit.fontawesome.com/d47d3d2873.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="../dist/css/adminlte.min.css" />
</head>
